<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571950535063-stkmc0vn5m47gjjavab7e9mr6iujl1it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571950535063-stkmc0vn5m47gjjavab7e9mr6iujl1it</string>
	<key>API_KEY</key>
	<string>AIzaSyAI5JNGwm2GnQ98tYHQmI2d6vxTs_-8_WI</string>
	<key>GCM_SENDER_ID</key>
	<string>571950535063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizletflutterapp</string>
	<key>PROJECT_ID</key>
	<string>finalflutter-1f345</string>
	<key>STORAGE_BUCKET</key>
	<string>finalflutter-1f345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571950535063:ios:bdfb02486f283ec5e834d2</string>
</dict>
</plist>